<% layout("/layouts/boilerplate") %>
<body>
   
        <div class="row">
        <div class="col-8 offset-1">
            <form method="post" action="/Listings" class="needs-validation"  novalidate enctype="multipart/form-data">
                <h3>Create New Listing</h3>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Give a catchy Title" type="text" class="form-control" required>
        <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
        <div class="invalid-feedback">enter valid description</div>
        </div>

        
        <div class="mb-3">
            <label for="image" class="form-label">upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row">
        <div class="col-md-4">
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback">enter valid Price</div>
        </div>
    </div>
        <div class="col-md-8">
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="enter Location" type="text" class="form-control" required>
            <div class="invalid-feedback">enter valid Location</div>
        </div>
    </div>
    </div>
        <div class="mb-3">
            <label for="price" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
            <div class="invalid-feedback">enter valid country</div>
        </div>
       
        <button class="btn btn-dark add-btn">add</button>
    </form>
</div>
</div>
</body>
